body {
    margin: 0;
    background-color: beige;
    height: 100vh;
}

.gallery-container {
    width: 100%;
    height: 100vh;
    max-width: 1300px;
    overflow-y: scroll;
    margin :auto ;
    background-color: rosybrown;
    border-radius: 50px;
    padding: 50px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    vertical-align: auto;
    max-height: auto;
    
    
}

.gallery-item {
    flex: 1 1 240px;
    height: auto;
    background-color: blue;
}

.gallery-item img,
.gallery-item video {
    max-width: 240px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100px;
}

.gallery-item iframe {
    object-fit: cover;
    width: 100%;
    height: auto;
    max-width: 240px;
}



























/* body {

    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    height: 100vh;
}

.gallery-container {
    margin-top: 56px;
    width: 100%;
    max-width: 1200px;
    height: 90vh;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    overflow-y: auto;
    justify-content: center; /* Center items horizontally 
}
/*
.gallery-item {
    flex: 1 1 240px; /* Grow and shrink, starting at 240px */
  /*  max-width: 240px;
    height: 240px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}*/
/*
.gallery-container img,
.gallery-container video,
.gallery-container iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

@media (max-width: 1024px) {
    .gallery-item {
        flex: 1 1 200px;
        max-width: 200px;
    }
}

@media (max-width: 768px) {
    .gallery-item {
        flex: 1 1 150px;
        max-width: 150px;
    }
}

@media (max-width: 480px) {
    .gallery-item {
        flex: 1 1 100px;
        max-width: 100px;
    }
}

@media (max-width: 320px) {
    .gallery-item {
        flex: 1 1 80px;
        max-width: 80px;
    }
} */